# Variables
  
* Los nombres de las variables sólo se pueden construir con letras (mayúsculas o minúsculas), números y el caracter underscore o guión bajo ( _ ).

* El nombre de la variable no puede iniciar con un número.

* No puede tener espacios.

* Python distingue entre mayúsculas y minúsculas. Para Python no es lo mismo *Variable* que *variable*.

* Una variable se asigna con el caractewr `=`.

## Ejemplos

* `1_mivariable` es incorrecto.
* `mi variable` es incorrecto.
* `miVariable` es correcto.
* `mi_variable` es correcto.
* `Mi_Variable1` es correcto.

## Tipos de Datos

A las variables se les puede asignar diferentes tipos de datos: 

* Números enteros `int`: 3, 100,  956.

> Definir un número entero así 836_654_452, es lo mismo que 836654452.
  
* Números flotantes o decimales `float`: 2.3, 8.9, 0.25.
  
> Definir un número flotante así 1._6_7_8, es lo mismo que 1.678.

* Booleanos `bool`: True, False, 1, 0.
  
* Cadena de caracteres `string`: "Un punto azul pálido.", "Frutas", "El número es 9842", "El código es 8*s%/23".

## `Type()`

Esta función retorna el tipo de dato de la variable.

In [1]:
# Tipos de variable con la función type()

entero = 5
type(entero)

flotante = 3.1416
type(flotante)

boleano = True
type(boleano)

texto = "Superficie"
type(texto)

str

# Operadores Aritméticos

* Suma `+`
* Resta `-`
* Multiplicación `*`
* División `/` , arroja el cociente entre dos números.
* División entera `//` , arroja el cociente entero sin decimales de dos números.
* Módulo `%` , arroja el residuo de una división entre dos números.
* Potencia `**` , eleva a una potencia un número.

> Una expresión, es una combinación de variables y operadores como por ejemplo `x = (-9**3) + 0.26 * (8//3)`.

In [17]:
sumar = 96 + 53.45
sumar

restar = 0.78 - 1
restar

multiplicar = 2 * 3.1416 
multiplicar

dividir = 4.31/8.99
dividir

div_entera = 4 // 3.1416 
div_entera

modulo = 163%46
modulo

potencia = 3**3
potencia

27

## `divmod()`

Una forma de obtener la división entera y el módulo, de dos número en un mismo resultado. Los valores se obtienen en forma de *tupla*. Se debe ingresar primero el dividendo seguido del divisor separado por una coma.

In [18]:
resultado = divmod(9, 5)
resultado

(1, 4)

## `int()`

Convierte otro tipo de datos a un número entero.

En el caso de un número flotante (decimal) toma la parte entera del numero y descarta los decimales.

NO aplica para datos de tipo string con letras o con decimales ni exponentes.

In [3]:
int(9.713)

int(True)

int(False)

int("99")

int("-23")

int("1_235_48")

# Si el entero representa un entero no decimal, se puede incluir la base del número. Por ejemplo.

int("10", 2)

int("10", 8)

int("10", 16)

16

## `float()`

Convierte el dato a flotante.

In [6]:
int(5)

float(5)

float(5e1)

float(5.9_86_555)

float("-23.70")

float(False)

float("0.1_2_5")

0.125

## `bool()`

Transforma a boleano True, cualquier tipo de dato ó número diferente de cero. El cero lo convierte en False y objetos vacíos también arrojan como resultado False.

In [8]:
bool(186)

bool("153")

bool("ret")

bool()

bool(1)

bool(0)

bool("")

False

> Cuando se mezclan operaciones entre números enteros o decimales con boleanos `True` o `False` el valor `True` opera como 1 y el `False` como cero.

In [9]:
True + 2

False + 5 * True

5

# Número de base n

Python indica si un número se encuentra escrito en una base en particular, de la siguiente manera:

* `0b` o `0B` indica que el número está escrito en base 2 (binario).

* `0o` o `0O` indica que el número está escrito en base 8 (octal).

* `0x` o `0X` indica que el número está escrito en base 16 (hexadecimal).

En los siguientes ejemplos, se especifica la base en la que está escrito el número 10 y se presenta su equivalente en decimal.

In [10]:
binario = 0b10
binario

octal = 0o10
octal

hexadecimal = 0x10
hexadecimal

16

## `bin()`, `oct()`, `hex()`

* `bin()`, Esta función permite convertir a binario un número. El resultado obtenido es de tipo string.

* `oct()`, permite convertir a octal un número. El resultado es un string.

*  `hex()`, permite convertir a hexadecimal un número. Se obtiene un string como resultado.

In [16]:
numero = 65

bin(numero)

oct(numero)

hex(numero)

'0x41'

# ASCII

ASCII es el acrónimo que corresponde a la expresión inglesa American Standard Code for Information Interchange. Dicha frase puede traducirse como Código Estándar Americano para el Intercambio de Información. Se trata de un patrón de codificación que se emplea en el ámbito de la informática.

Dicho de modo más simple, se trata de una traducción numérica del alfabeto, dado que los sistemas informáticos sólo manejan código binario (0-1) como lenguaje para representar sus operaciones lógicas. Así, a cada caracter (letra, signo o incluso espacio en blanco) corresponde en ASCII una cadena numérica de ocho bits (ocho dígitos entre 0 y 1, es decir, en código binario).

> Fuente: https://concepto.de/ascii/#ixzz8p3duieJr

![](ASCII-Tabla.png)


##  `chr()`

Esta función convierte un valor entero a su equivalente caracter individual (ASCII).


## `ord()`

Tiene el efecto contrario a la función `chr()` y devuelve el número entero que corresponder al caracter.

In [42]:
letra1 = "A"
ord(letra)

numero1 = 46
chr(numero)

letra2 = "#"
ord(letra2)

numero2 = 75
chr(numero2)

'K'