# Tuplas y Listas

Python tiene otras dos estructuras de secuencia: tuplas y listas. Estas contienen cero o más elementos. A diferencia de las cadenas, los elementos pueden ser de diferentes tipos. De hecho, cada elemento puede ser cualquier objeto de Python. Esto te permite crear estructuras tan profundas y complejas como desees.

¿Por qué Python contiene tanto listas como tuplas? Las tuplas son **inmutables**; cuando asignas elementos (solo una vez) a una tupla, se convierten en elementos básicos y no se pueden cambiar.

Las listas son **mutables**, lo que significa que puedes insertar y eliminar elementos cuando desees.

# Tuplas

Las tuplas son una estructura de datos inmutable. Permite almacenar una secuencia ordenada. Almacena diferentes tipos de datos.

La sintáxis para crear las tupla es un poco ambigua o variada, por decirlo de alguna manera.

Las tuplas se crean haciendo uso de paréntesis y comas, pero hay algunas variaciones para crearlas.

In [ ]:
# tupla vacía
tupla0 = ()

In [4]:
# tupla creada solo con la coma
tupla1 = "perro",
type(tupla1)
tupla1

('perro',)

In [7]:
tuplac = "kiwi", "musaraña", "mamba"
tuplac
type(tuplac)

tuple

In [5]:
# Tupla creada con paréntesis y comas
tupla2 = ("gato",)
tupla2
type(tupla2)

tuple

> Si creamos una tupla de un solo elemento, como en el código anterior pero omitiendo la coma, no obtendremos el resultado esperado, no obtendremos una tupla, obtendremos un elemento de typo srting.

In [6]:
tuplas = ("jirafa")
tuplas
type(tuplas)

str

> Si bien, no es necesario hacer uso de los paréntesis para crear una tupla en todos los casos, hacer uso de ellos ayuda a que el código sea más legible y entendible para el usuario.

Note la diferencia en el siguiente caso:

In [9]:
tuplad = "zorro", 
type(tuplad)

type("zorro",)

str

Las tuplas permiten asignar múltiples variables al mismo tiempo:

In [3]:
tuplav = ("Nevado", "Río", "Valle")

a , b, c = tuplav

a

b

c

'Valle'

Puede utilizar tuplas para intercambiar valores en una sentencia sin utilizar una variable temporal:

In [13]:
mensaje = "natural"
helado = "vainilla"

mensaje, helado = mensaje, helado

mensaje

helado

'vainilla'

## Crear tupla con `tuple()`

Esta es la función para convertir en tuplas, otros elementos, como por ejemplo una lista se puede convertir en tupla con el uso de `tuple()`.

In [14]:
mlista = ["rojo", "verde", "azul"]
tuple(mlista)

('rojo', 'verde', 'azul')

## Combinar tuplas usando +

Las tuplas se combinan de manera similar a cuando combinamos strings.

In [15]:
("Goole", ) + ("Meta", "Amazon")

('Goole', 'Meta', 'Amazon')

## Duplicar items con *

In [17]:
("Google",)*3

('Google', 'Google', 'Google')

## Comparar tuplas

In [21]:
t1 = (4, 2)
t2 = (1, 2, 3)

t1 == t2

t1 <= t2

t2 < t1

True

## Acceder a los elementos de una Tupla

In [162]:
tuplav = ("Nevado", "Río", "Valle")

tuplav[0]
tuplav[0:2]
tuplav[-1]

'Valle'

In [10]:
tuplae = ("Nevado", "Río", "Valle")

tuplae[6]
tuplae[-4]

IndexError: tuple index out of range

# Métodos para las tuplas

* `len()`: Cuenta el número de elementos en la tupla.
* `count()`: Cuenta cuántas veces aparece un valor específico en la tupla.
* `max()`: Devuelve el valor más grande de la tupla.
* `min()`: Devuelve el valor más pequeño de la tupla.
* `sum()`: Devuelve la suma total de los elementos numéricos de la tupla.

In [163]:
tuplav = ("Nevado", "Río", "Valle")
len(tuplav)

3

In [164]:
tuplav = ("Nevado", "Río", "Valle", "Río")
tuplav.count("Río")

2

In [166]:
tuplav = ("Nevado", "Río", "Valle", "Río")
max(tuplav)

tuplan = (5, 8, 2, 56, 3)
max(tuplan)

'Valle'

In [173]:
tuplav = ("Nevado", "Río", "Valle", "Río")
min(tuplav)

tuplan = (5, 8, 2, 56, 3)
min(tuplan)

2

In [171]:
tuplan = (5, 8, 2, 56, 3)
sum(tuplan)

74

## Iterar con `for` y `in`

In [22]:
palabras = ("preplejo", "voraz", "bizarro")

for palabra in palabras:
    print(palabra)

preplejo
voraz
bizarro

## Modificar una tupla

**Las tuplas NO se pueden modificar, son objetos inmutables**, por lo tanto no se puede modificar una tupla ya existente.

Las tuplas pueden concatenarse (combinar) entre ellas para crear una nueva tupla.


Los códigos a continuación, muestran que Python asigna identificadores `id()` diferentes a la tupla `tu1 = ('Fee', 'Fie', 'Foe')` y para la tupla `tu1 += tu2`. Python hace una nueva tupla a partir de las tuplas originales y le asigna el nombre de `tu1`.

In [17]:
tu1 = ('Fee', 'Fie', 'Foe')
tu2 = ('Flop',)
id(tu1)

129500959798592

In [18]:
tu1 += tu2
tu1
id(tu1)

129500960211728

# Listas

Las listas son buenas para rastrear información dado un orden, especialmente cuando orden de los elementos podría cambiar. A diferencia que los strings y las tuplas, las listas son **mutables**, es decir que puede modificar una lista, añadir nuevos elementos y eliminar o sustituir elementos existentes. El mismo valor puede aparecer más de una vez en una lista.

La sintáxis para crear una lista está dada por el uso de los corchetes `[]` para definir la lista y el uso de las comas que para separar los elementos contenidos dentro de la lista.

In [35]:
listavacia = []

listadias = ["Lunes", "Martes", "Miercoles"]

nombres = ["Sofía", "Karla", "Tim", "Sofia"]

nlista = ["Python", [1, 4, 2], ("norte", "sur"), 9.5]

La lista `nombres` muestra que los valores no deben ser únicos.

Los elementos de una lista pueden ser de cualquier tipo (string, float, entero, lista, tupla, diccionario, etc)

## Crear o convertir con `list()`

La función `list()` puede crear listas vacías. También permite convertir otros tipos de datos iterables como tuplas, strings, sets y diccionarios a listas.

In [38]:
lvacia = list()
lvacia

[]

In [39]:
# convertir una tupla en una lista
vjuegos = ("M.Bros", "Zelda", "RE2")
list(vjuegos)

['M.Bros', 'Zelda', 'RE2']

In [41]:
# crear una lista a partir de un string
fecha = "19/02/2021"
fecha.split("/")

['19', '02', '2021']

## Obtener los elementos de una lista o subconjuntos de ellos

Al igual que los string, las litas tienen índices asignados para la posición de cada uno de sus elementos, por lo tanto es posible extraer uno o más elementos de la lista especificando su índice. El índice a obtener debe estar dentro del rango de valores de la lista, de lo contrario arrojará un error.

In [20]:
nlista = ["Python", [1, 4, 2], ("norte", "sur"), 9.5]

print(nlista[0])

print(nlista[2])

print(nlista[-1])

print(nlista[8])

Python
('norte', 'sur')
9.5

IndexError: list index out of range

Al igual que con los string, cuando deseamos obtener un subconjunto de valores, si ingresamos un valor que está fuera del rango de la lista, no vamos a obtener un error, por el cotrario el resultado va a ser un elemento vacío.

In [21]:
nlista = ["Python", [1, 4, 2], ("norte", "sur"), 9.5]

print(nlista[0:2])

print(nlista[::2])

print(nlista[::-2])

print(nlista[4:])

print(nlista[-5:])

print(nlista[:10:-2])

['Python', [1, 4, 2]]
['Python', ('norte', 'sur')]
[9.5, [1, 4, 2]]
[]
['Python', [1, 4, 2], ('norte', 'sur'), 9.5]
[]

In [23]:
nlista = ["Python", [1, 4, 2], ("norte", "sur"), 9.5]
# cuando usamos el step -1 obtenemos los elementos de la lista en orden inverso.
# la lista no sufre cambios, sólo returna los elementos.
print(nlista[::-1])

# otra forma de obtener el orden inverso de la lista
# A diferencia del caso anterior, esta función si modifica la lista.
nlista.reverse()
print(nlista)

['Python', [1, 4, 2], ('norte', 'sur'), 9.5]
['Python', [1, 4, 2], ('norte', 'sur'), 9.5]

## `append()`

La forma más común de agregar items a una lista es con esta función, la cual agrega los elementos al final de la lista.

In [58]:
lvjuegos = ["M.Bros", "Zelda", "RE2"]

lvjuegos.append("Donkey Kong")

lvjuegos

['M.Bros', 'Zelda', 'RE2', 'Donkey Kong']

## `insert()`

La función `append()` agrega los elementos al final de la lista, pero cuando deseamos agregar un elemento en cualquier posición de la lista, usamos `insert()`.

In [61]:
lvjuegos = ["M.Bros", "Zelda", "RE2"]

lvjuegos.insert(1, "F Zero")

lvjuegos

# si usamos un índice superior al de la longitud de la lista
# el elemento se agrega al final.

lvjuegos.insert(7, "Castlevania")

lvjuegos

['M.Bros', 'F Zero', 'Zelda', 'RE2', 'Castlevania']

## Duplicar todos los items con *

In [63]:
["Campos", "Regreso", "Sesgo"]*3

['Campos',
 'Regreso',
 'Sesgo',
 'Campos',
 'Regreso',
 'Sesgo',
 'Campos',
 'Regreso',
 'Sesgo']

## Combinar listas usando `extend()` o `+`

Es posible fusionar una lista con otra utilizando `extend()`.

In [66]:
nombres1 = ["Diana", "Selena", "Lola"]

nombres2 = ["Sofia", "Regina"]

nombres1.extend(nombres2)

nombres1

['Diana', 'Selena', 'Lola', 'Sofia', 'Regina']

De manera alterna, podemos usar `+` o `+=`

In [67]:
nombres1 = ["Diana", "Selena", "Lola"]

nombres2 = ["Sofia", "Regina"]

nombres1 += nombres2

nombres1

['Diana', 'Selena', 'Lola', 'Sofia', 'Regina']

> Note lo que ocurre en sl siguiente fragmento de código. Si usamos `append()` para agregar una lista a otra ya creada, se agrega la lista como un elemento de la otra lista, no se agregan los elementos de la lista.
> Agregar elementos a una lista es totalmente diferente a agregar una lista como elemento de otra lista.

In [72]:
nombres1 = ["Diana", "Selena", "Lola"]

nombres2 = ["Sofia", "Regina"]

nombres1.append(nombres2)

nombres1

['Diana', 'Selena', 'Lola', ['Sofia', 'Regina']]

## Editar un elemento de la lista

Así como puedes obtener un elemento de la lista mediante su índice, puedes editarlo o cambiar su valor.

In [74]:
lvjuegos = ["M.Bros", "Zelda", "RE2"]

lvjuegos[1] = "Pac Man"

lvjuegos

['M.Bros', 'Pac Man', 'RE2']

## Editar varios elementos de la lista

In [77]:
numeros = [1, 2, 3, 4, 5, 6]
numeros[1:4] = [0, 10, 20]
numeros

[1, 0, 10, 20, 5, 6]

In [75]:
numeros = [1, 2, 3, 4, 5, 6]
numeros[1:4] = [0, 10]
numeros

[1, 0, 10, 5, 6]

In [76]:
numeros = [1, 2, 3, 4, 5, 6]
numeros[1:3] = [0, 10, 15]
numeros

[1, 0, 10, 15, 4, 5, 6]

En los ejemplos anteriores, podemos ver que no es necesario que el número de elementos sea igual al subconjunto indicado, Python agregará los elementos de igual manera.

En el siguiente ejemplo, podemos ver que los elementos que se van a editar, no necesariamente deben tener el formato de lista, puede ser cualquier elemento iterable.

In [79]:
numeros = [1, 2, 3, 4, 5, 6]
numeros[1:3] = (0, 10, 15)
numeros

[1, 0, 10, 15, 4, 5, 6]

In [81]:
numeros = [1, 2, 3, 4, 5, 6]
numeros[1:3] = "ser"
numeros

[1, 's', 'e', 'r', 4, 5, 6]

In [ ]:
# en este caso True es un objeto boleano, no iterable
numeros = [1, 2, 3, 4, 5, 6]
numeros[1:3] = True
numeros

TypeError: can only assign an iterable

## Eliminar un elemento con `del`

Cuando eliminas un elemento por su posición en la lista, los elementos que le siguen retroceden para ocupar el espacio del elemento eliminado, y la longitud de la lista disminuye en uno.

In [83]:
lvjuegos = ["M.Bros", "Zelda", "RE2"]

del lvjuegos[-1]

lvjuegos

['M.Bros', 'Zelda']

In [84]:
lvjuegos = ["M.Bros", "Zelda", "RE2"]

del lvjuegos[1]

lvjuegos

['M.Bros', 'RE2']

`del` es una sentencia Python, no un método de lista, no se usa como `lista[-1].del()`. Es algo así como el inverso de la asignación `=`, puede liberar la memoria del objeto.

## Elimina un elemento

Cuando no se esta seguro o no es importante la ubicación (índice) del elemento en la lista, es bueno utilizar `remove()` para borrarlo indicando el valor.

Si hay valores duplicados con el mismo nombre, sólo se borrará el primer elemento que encuentre.

In [24]:
lvjuegos = ["M.Bros", "Zelda", "RE2", "Zelda"]

lvjuegos.remove("Zelda")

lvjuegos

['M.Bros', 'RE2', 'Zelda']

## Obtener un elemento y eliminarlo con `pop()`

Se puede obtener un elemento de una lista y eliminarlo de ella al mismo tiempo usando `pop().`. Si no se le pasa un argumento, se elimina el último elemento de la lista.

Para eliminar un elemento en específico, se debe indicar el índice del elemento que se desea eliminar.

In [6]:
lvjuegos = ["M.Bros", "Zelda", "RE2", "Wild Guns"]

lvjuegos.pop()

'Wild Guns'

In [7]:
lvjuegos = ["M.Bros", "Zelda", "RE2", "Wild Guns"]

lvjuegos.pop(1)

lvjuegos

['M.Bros', 'RE2', 'Wild Guns']

## Eliminar todos los elementos con `clear()`

Elimina todos los elementos, dejando la lista vacía.

In [92]:
lvjuegos = ["M.Bros", "Zelda", "RE2", "Wild Guns"]

lvjuegos.clear()

lvjuegos

[]

## Busca un elemento con `index()` a través de su valor

Esta función retorna el índice dentro de la lista de un elemento en particular.

Si el valor está en la lista más de una vez, sólo arroja el índice del primer elemento encontrado.

In [94]:
lvjuegos = ["M.Bros", "Zelda", "RE2", "Wild Guns"]

lvjuegos.index("RE2")

2

## Validar si un elemento se encuentra en una lista

In [95]:
lvjuegos = ["M.Bros", "Zelda", "RE2", "Wild Guns"]

"RE2" in lvjuegos

True

## Contar apariciones de un valor con `count()`

Esto cuenta el número de veces que aparece en una lista, un valor en particular.

In [96]:
deportes = ["Baloncesto", "Rugby", "Tenis", "Baloncesto", "Patinaje", "Fútbol", "Tenis", "Tenis"]

deportes.count("Tenis")

3

## Convertir una lista en un string con `join()`

El argumento de `join()` es un string o cualquier secuencia iterable de strings incluidas las listas, su resultado es un string.

> `join()` es el opuesto de `split()`

In [8]:
lvjuegos = ["M.Bros", "Zelda", "RE2", "Wild Guns"]

"/".join(lvjuegos)

'M.Bros/Zelda/RE2/Wild Guns'

In [98]:
lvjuegos = ["M.Bros", "Zelda", "RE2", "Wild Guns"]

separador = "*"
separador.join(lvjuegos)

'M.Bros*Zelda*RE2*Wild Guns'

## Reorganizar los elementos con `sort()` o `sorted()`

* El método `sort()` ordena la lista, en su lugar. Modifica la lista. El argumento por defecto es ordenar de manera ascendente, pero es posible hacerlo de manera descendente mediante el argumento `reverse = True`.

* La función general `sorted()` devuelve una copia ordenada de la lista. Esto no modifica la lista original.
  
Si los elementos de la lista son numéricos, se ordenan por defecto en orden ascendente. Si son cadenas, se ordenan por orden alfabético.

In [102]:
nums = [3, 9, 2, 7, 10]

nums.sort()

nums

[2, 3, 7, 9, 10]

In [113]:
nums = [3, 9, 2, 7, 10]

nums.sort(reverse=True)

nums

[10, 9, 7, 3, 2]

In [114]:
palabs = ["lata", "cielo", "sandalia" , "queso"]

palabs.sort(reverse=True)

palabs

['sandalia', 'queso', 'lata', 'cielo']

In [9]:
nums = [3, 9, 2, 7, 10]

nuevo = sorted(nums)

nums

nuevo

[2, 3, 7, 9, 10]

In [10]:
palabs = ["lata", "cielo", "sandalia" , "queso"]

nuevas = sorted(palabs)

palabs

nuevas

['cielo', 'lata', 'queso', 'sandalia']

## Longitud de la lista `len()`

Retorna el número de elementos de una lista.

In [115]:
nums = [3, 9, 2, 7, 10]

len(nums)

5

## Asignar una Lista con `=` / Aliasing

Cuando se asigna una lista a más de una variable, se presenta un fenómeno que se conoce como aliasing. Dos variables están asignadas con una misma estrucutura de datos mutable, en este caso, si se hace un cambio en una de las variables los cambios se verán reflejados en ambas variables ya que tienen asignada el mismo elemento.

In [11]:
a = [1, 2, 3]
a
b = a

In [12]:
a[0] = "Sol"

a
b

['Sol', 2, 3]

En el ejemplo anterior `a` y `b` tienen asignada la misma lista, cuando se modifica el primer elemento de la lista `a[0] = "Sol"` el primer elemento de `b` también se modifica al mismo tiempo.

## Copiar o clonar una lista

Es una operación en la que se crea una copia de un objeto de datos mutable.

Es la manera correcta de copiar o clonar una lista, para evitar el efecto aliasing.

La manera correcta de clonar o copiar una lista:

* mediante la segmentación `[:]`
* través de la función `list()`
* con el método `copy()`

In [13]:
a = [1, 2, 3]
b = a.copy()
b

[1, 2, 3]

In [14]:
a = [1, 2, 3]
c = list(a)
c

[1, 2, 3]

In [15]:
a = [1, 2, 3]
d = a[:]
d

[1, 2, 3]

Mediantes estas tres opciones se puede copiar una lista en una nueva variable totalmente independiente de la lista original. Así es posible realizar cambios en una u otra sin que se afecten al mismo tiempo.

## Copiar con `deepcopy()`

In [ ]:
# en este caso tenemos una lista como elemento de a.
a = [1, 2, 3, [10, "gato"]]
b = a.copy()
c = list(a)
d = a[:]

a[3][0] = "perro"
a
b
c
d

En el ejemplo anterior vemos que a pesar de haber hecho la copia de la lista de manera correcta, al haber una lista dentro de la lista `a` los cambios que haga sobre ella, se ven reflejados en las otras listas, efecto aliasing a "nivel más profundo".

Para evitar este efecto, es necesario hacer uso de el método `deepcopy()` de la biblioteca `copy`.

`deepcopy()` permite manipular las listas, diccionarios y otros objetos que se encuentren anidados.

In [133]:
import copy

a = [1, 2, 3, [10, "gato"]]

b = copy.deepcopy(a)

a[3][0] = "perro"

a

b

[1, 2, 3, [10, 'gato']]

## Comparar listas

In [134]:
a = [14, 8]
b = [14, 8, 3]
a == b
a <= b
a < b

True

## Iterar con `for` y `in`

In [136]:
vjuegos = ["mundo abierto", "disparos", "aventura"]

for elemento in vjuegos:
    print(elemento)

mundo abierto
disparos
aventura

In [141]:
vjuegos = ["mundo abierto", "disparos", "aventura"]

for elemento in vjuegos:
    if elemento.startswith("a"):
        print("Me gustan los video juegos de ", elemento)
        break
    else:
        print(elemento)

mundo abierto
disparos
Me gustan los video juegos de  aventura

## Iteración en multiples secuencias con `zip()`

In [143]:
dias = ["Lun", "Mar", "Mier", "Jue", "Vie"]
frutas = ["Melón", "Uva", "Kiwi"]
bebidas = ["Jugo", "cerveza", "Agua", "Vino"]
postres = ["helado", "tiramisu", "torta"]

for dia, fruta, bebida, postre in zip(dias, frutas, bebidas, postres):
    print("Menú del ", dia, "es: ", fruta, "con ", bebida, "y ", postre)

Menú del  Lun es:  Melón con  Jugo y  helado
Menú del  Mar es:  Uva con  cerveza y  tiramisu
Menú del  Mier es:  Kiwi con  Agua y  torta

`zip()` se detiene cuando la secuencia más corta es iterada.

Esta función se puede usar para iterar sobre múltiples secuencias y hacer tuplas a partir de items en las iteraciones.

In [ ]:
# crear tuplas
espanol = "lunes", "martes", "miercoles"
ingles = "Monday", "tuesday", "wednesday"

# crear una lista de tuplas
list(zip(espanol, ingles))

[('lunes', 'Monday'), ('martes', 'tuesday'), ('miercoles', 'wednesday')]

In [145]:
# crear un diccionario a partir de las lista de tuplas creada anteriormente.
dict(list(zip(espanol, ingles)))

{'lunes': 'Monday', 'martes': 'tuesday', 'miercoles': 'wednesday'}

In [148]:
lista = list(range(1,6))
lista

[1, 2, 3, 4, 5]

## Crear una lista mediante iteraciones

In [146]:
lista = []

for numero in range(1,6):
    lista.append(numero)
    print(lista)

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]

## Crear una lista mediante Comprensión (Comprehension)

La forma más rápida de crear una lista es mediante **list comprehension**.

In [150]:
milista = [numero for numero in range(1,6)]
milista

[1, 2, 3, 4, 5]

En la primera línea, el primer `numero` (la cual es una expresión) se usa para producir los valores que van en la lista `milista`. El segundo `numero` es parte de la iteración o del bucle for.

In [151]:
milista = [numero-1 for numero in range(1,6)]
milista

[0, 1, 2, 3, 4]

La lista por comprensión recorre el bucle dentro de los corchetes. Una lista por comprensión puede incluir también sentencias condicionales if.

In [16]:
milista = [numero for numero in range(1,6) if numero % 2 == 1]
milista

[1, 3, 5]

También pueden haber sentencia for anidadas.

In [17]:
filas = range(1,4)
columnas = range(1,3)
celdas = [(row, col) for row in filas for col in columnas]
celdas

[(1, 1), (1, 2), (2, 1), (2, 2), (3, 1), (3, 2)]

## Listas de listas

Como las listas pueden contener diferenten elementos, las listas pueden estar contenidas dentro de otras listas.

In [18]:
aves = ["gorrión", "colibrí"]
peces = ["salmón", "trucha", "cachama", "bocachico"]
insectos = ["araña", "zancudo", "mosca"]
animales = [aves, peces, "elefante", insectos]
animales

[['gorrión', 'colibrí'],
 ['salmón', 'trucha', 'cachama', 'bocachico'],
 'elefante',
 ['araña', 'zancudo', 'mosca']]

Para acceder a los elementos de estas listas anidadas:

In [158]:
animales[0][0]
animales[1][2]
animales[0][0]
animales[3][2]

'mosca'

# Tuplas vs Listas

En ocasiones se opta por hacer uso de las tuplas en lugar de las listas, pero las tuplas tienen menos funciones, debido a que estas no pueden ser modificadas después de creadas.

¿Por qué no usar listas en lugar de tuplas en todo momento?

* Tuplas ocupan menos espacio en memoria.

* Se pueden usar tuplas como llaves para los diccionarios.

> **Las tuplas no se pueden crear mediante comprensión (comprenhension).**